
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecovision Project</title>
	<link href="~/css/stylehome.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Ecovision Project</h1>
        <p>Building a sustainable future through open-source energy data.</p>
    </header>

    <section>

        <h2>About the EcoVision</h2>
        <p>
            Welcome to Ecovision! This initiative aims to provide users with a platform to upload and view energy consumption data through an open-source database. By fostering transparency, we empower users to make informed decisions about their energy usage.
        </p>

        <h2>Open-Source Database</h2>
        <p>
            Our open-source database allows users to upload and share energy consumption data from various devices. It provides a centralized hub for tracking and analyzing energy usage, promoting a better understanding of environmental impact and efficiency.
        </p>

        <h2>Energie Labels</h2>
        <p>
            Understanding energy labels is crucial for making informed decisions about energy-efficient devices. Here's a quick overview of each label:
        </p>

        <div class="energy-label">
            <div>
                <h3>Label A</h3>
                <p>Highly energy-efficient. These devices consume the least amount of energy.</p>
            </div>
        </div>

        <div class="energy-label">
            <div>
                <h3>Label B</h3>
                <p>Very energy-efficient. A good choice for environmentally conscious users.</p>
            </div>
        </div>

        <div class="energy-label">
            <div>
                <h3>Label C</h3>
                <p>Moderately energy-efficient. Considered average in terms of energy consumption.</p>
            </div>
        </div>

        <div class="energy-label">
            <div>
                <h3>Label D</h3>
                <p>Less energy-efficient. These devices may consume more energy than others.</p>
            </div>
        </div>

        <div class="energy-label">
            <div>
                <h3>Label E</h3>
                <p>Not very energy-efficient. Users may want to explore more efficient alternatives.</p>
            </div>
        </div>

        <div>
            <div>
                <h2>The link of the github repository</h2>
                <a href="https://github.com/Rubberduckx/CasusA2D1Wasmachine">Github repository</a>

            </div>
        </div>
    </section>
</body>
</html>
